<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">/Users/Priti/Documents/projectX/logs</Property>
	</Properties>
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
		</Console>
		<RollingFile name="projectX-log" fileName="${log-path}/all-log/projectX.log" filePattern="${log-path}/projectX-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36}:%L - %msg%n%throwable</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true"/>
				<SizeBasedTriggeringPolicy size="2 GB" />
			</Policies>
		</RollingFile>
		<RollingFile name="projectX-error-log" fileName="${log-path}/error-log/projectX-error.log" filePattern="${log-path}/projectX-error-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36}:%L - %msg%n%throwable</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true"/>
				<SizeBasedTriggeringPolicy size="2 GB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org" level="debug" additivity="false">
			<appender-ref ref="projectX-log" level="debug"/>
			<appender-ref ref="projectX-error-log" level="error"/>
		</Logger>
		<!--<Root level="info" additivity="false">
			<AppenderRef ref="console-log"/>
		</Root>-->
	</Loggers>
</Configuration>
